<h1 id="gulp-starter-kit">gulp-starter-kit</h1>
<p>Starter kit for using the  <a href="https://gulpjs.com/">Gulp</a> workflow.</p>
<h2 id="april-05-2020">April 05, 2020</h2>
<ul>
<li>🐛 Updated Acorn to 6.4.1 to address vulnerability</li>
</ul>
<h2 id="october-21-2019">October 21, 2019</h2>
<ul>
<li>✨ Added <a href="https://www.npmjs.com/package/gulp-htmlmin">gulp-htmlmin</a> to minify HTML</li>
<li>✨ Added a build task to create a &#39;dist&#39; folder of files just for deploying</li>
<li>✏️ Specified Google Chrome as the default browser</li>
</ul>
<h2 id="july-22-2019">July 22, 2019</h2>
<ul>
<li>✨ Added <a href="https://www.npmjs.com/package/gulp-embed-svg">gulp-embed-svg</a> to include svg into &#39;index.html&#39;.<ul>
<li>⚠️ You must edit &#39;app.html&#39; and that will generate &#39;index.html&#39;</li>
</ul>
</li>
<li>✏️ Updated sample layout in &#39;app.html&#39;</li>
<li>🚚 Moved &#39;js/lib&#39; folder to app base folder</li>
</ul>
<h2 id="june-28-2019">June 28, 2019</h2>
<ul>
<li>✨ Using Wes Bos&#39; <a href="https://github.com/wesbos/eslint-config-wesbos">eslint-config-wesbos</a> setup<ul>
<li>✏️ Updated &#39;.eslintrc&#39; to work with new setup</li>
<li>✏️ Added new linting scripts to &#39;package.json&#39;</li>
</ul>
</li>
<li>✨ Added &#39;mixins.scss&#39; file</li>
<li>✏️ Updated &#39;index.html&#39; and styling</li>
<li>✏️ Updated &#39;README.md&#39; file to be more descriptive</li>
<li>📦 Replacing gulp-uglify with gulp-terser which handles <code>const</code> declarations</li>
<li>✏️ Added custom port (3030) for BrowserSync</li>
</ul>
<h2 id="june-25-2019">June 25, 2019</h2>
<ul>
<li>✏️ Added start script to &#39;package.json&#39;</li>
<li>✨ Added a way specify a main SCSS file that imports all other SCSS files in &#39;gulpfile.js&#39;</li>
<li>⬆️ Upgraded eslint package to  v6.0.1</li>
</ul>
<h2 id="june-21-2019">June 21, 2019</h2>
<ul>
<li>🚀 Initial code commit</li>
<li>✨ Have set up the following in Gulp:<ul>
<li><a href="https://www.browsersync.io/docs/gulp">BrowserSync</a></li>
<li>SCSS processing<ul>
<li>Sourcemapping</li>
<li>Autoprefixing</li>
<li>Minifying</li>
</ul>
</li>
<li>JS processing<ul>
<li>Concatenating library scripts</li>
<li>Minifying</li>
</ul>
</li>
<li>Markdown processing</li>
</ul>
</li>
<li>✏️ Editing README.md</li>
<li>✨ Included jQuery</li>
</ul>
