<h1 id="welcome-to-gulp-starter-kit-👋">Welcome to gulp-starter-kit 👋</h1>
<p><img src="https://img.shields.io/badge/version-1.1.0-blue.svg?cacheSeconds=2592000" alt="Version 1.1.0" title="Version 1.1.0">
<a href="https://twitter.com/javajunky"><img src="https://img.shields.io/twitter/follow/javajunky.svg?style=social" alt="Twitter: @javajunky" title="Twitter: @javajunky"></a></p>
<blockquote>
<p>Starter kit for a project using Gulp workflow.</p>
</blockquote>
<h2 id="install">Install</h2>
<pre><code class="language-sh">yarn install</code></pre>
<h2 id="usage">Usage</h2>
<pre><code class="language-sh">yarn start</code></pre>
<h2 id="getting-started">Getting Started</h2>
<ul>
<li>&#39;./app.html&#39; is your main HTML file. It is processed and outputted to &#39;index.html&#39;.</li>
<li>&#39;./js/main.js&#39; is your main JavaScript file</li>
<li>Add all third-party script files into &#39;./js/lib/&#39; and you can specify if you would want to bundle them with your &#39;main.js&#39; file by modifying <code>jslib_files</code> in &#39;./gulpfile.js&#39;</li>
<li>&#39;./scss/main.scss&#39; is your main SCSS file</li>
<li>You may import all your secondary SCSS files into &#39;main.scss&#39; with <code>@import</code> statements or if you would like Gulp to process all your SCSS files to CSS files, set <code>paths.styles.main</code> in &#39;./gulpfile.js&#39; to an empty string.</li>
</ul>
<h2 id="distributing">Distributing</h2>
<pre><code class="language-sh">yarn build</code></pre>
<h2 id="author">Author</h2>
<p>👤 <strong>Wil Chow</strong></p>
<ul>
<li>Twitter: <a href="https://twitter.com/javajunky">@javajunky</a></li>
<li>Github: <a href="https://github.com/javajunky">javajunky</a></li>
</ul>
<h2 id="show-your-support">Show your support</h2>
<p>Give a ⭐️ if this project helped you!</p>
<hr>
<p><em>This README was generated with ❤️ by <a href="https://github.com/kefranabg/readme-md-generator">readme-md-generator</a></em></p>
